@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 245, 247, 250;
  --foreground: 31, 41, 55;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 30, 30, 47;
    --foreground: 224, 224, 224;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.dark ::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #777;
}